nav {
	font-weight: bold;
	font-style: italic;
}

form {
	border: 3px solid black;
	padding: .5em;
	width: 50%;
	font-weight: bold;
	font-size: larger;
	background-image: url('../images/notecard.jpg');
}

.content {
	padding: 0 0 0 2em;
}

input {
	background-color: #E3E0CF;
}

select {
	background-color: #E3E0CF;
}

textarea {
	background-color: #E3E0CF;
}

.recipe {
	border: 3px solid black;
	display: inline-block;
	font-weight: bold;
	margin-right: 2em;
	margin-bottom: 2em;
	padding: 0 1em 1em 1em;
	background-image: url('../images/recipecard.jpg');
}

.recipe h2 {
	margin-top: .25em;
}
.flash-message {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color: green;
	text-align:center;
	padding:5px;
}